<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Analyze Nordea Bank Statement CSV</h1>
    <div class="container">
        <div id="drop-zone" style="border: 2px dashed #ccc; padding: 20px;">
            <p>Drag & Drop CSV files here</p>
        </div>
        <div id="result">
            {% for result_message in result_messages %}
            <div class="event">
                {{ result_message | safe }}
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
